<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="css/auth/login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("../partials/header") %> <% if (alert_type && message) { %>
    <p class="<%= alert_type %>"><%= message %></p>
    <% } %>

    <form action="/login" method="POST" class="retro-form">
      <h1 class="neon-title">Log in</h1>

      <input
        type="email"
        name="email"
        placeholder="Enter your email"
        required
        class="retro-input"
      />

      <input
        type="password"
        name="password"
        placeholder="Enter your password"
        required
        class="retro-input"
      />

      <button type="submit" class="neon-button">Log in</button>
    </form>

    <div style="margin-top: 1rem">
      <a href="/register" class="neon-link">Sign Up</a>
    </div>
  </body>
</html>
