<nav>
  <a href="/"> Home Page</a>

  <a href="/all_products"> All Products</a>

  <% if (!userId) { %>
  <a href="/login"> Login</a>
  <a href="/register"> Sign Up</a>
  <% } else { %>
  <a href="/my_profile"> My Profile</a>
  <a href="/my_products"> My Products</a>
  <a href="/add_product"> Add Product</a>
  <a href="/cart"> Cart</a>
  <a href="/logout"> Logout</a>
  <% } %>
</nav>
