<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Start Page</title>
  </head>
  <body>
    <%- include("partials/header") %>

    <!-- error or success message -->
    <% if (alert_type && message) { %>
    <p class="<%=alert_type%>"><%= message %></p>
    <% } %>

    <h1>Hello! Server is running!</h1>
  </body>
</html>
