<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Start Page</title>
  </head>
  <body>
    <%- include("partials/header") %>

    <h1>Привіт! Сервер працює! 🚀</h1>

    <a href="/auth/login">Log in</a>
    <a href="/auth/register">Sign Up</a>
  </body>
</html>
