<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/products/add_product.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Orbitron:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("../partials/header") %> <% if (alert_type && message) { %>
    <div class="alert-wrapper">
      <p class="<%=alert_type%>"><%= message %></p>
    </div>
    <% } %>

    <div class="add-product-container">
      <h1 class="neon-title">Add Product</h1>

      <form
        class="add-product-form"
        action="/add_product"
        method="POST"
        enctype="multipart/form-data"
      >
        <input type="text" name="name" placeholder="Product Name" required />
        <input
          type="number"
          name="price"
          placeholder="Price ($)"
          required
          min="0"
        />

        <textarea
          name="description"
          placeholder="Product Description"
          required
        ></textarea>

        <div class="file-input-wrapper">
          <label for="real-file" class="custom-file-label neon-button"
            >Choose File</label
          >
          <input
            type="file"
            id="real-file"
            name="image"
            class="hidden-file-input"
          />
          <span id="custom-text" class="file-name-text">No file chosen</span>
        </div>

        <button type="submit" class="neon-button">Add Product</button>
      </form>

      <a href="/all_products" class="neon-link">View All Products</a>
    </div>
    <script src="/scripts/products/add_product.js"></script>
  </body>
</html>
