<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
  </head>
  <body>
    <%- include("../partials/header") %>

    <!-- error or success message -->
    <% if (alert_type && message) { %>
    <p class="<%=alert_type%>"><%= message %></p>
    <% } %>

    <form action="/add_product" method="POST" enctype="multipart/form-data">
      <h1>Add Product</h1>
      <input type="text" name="name" placeholder="Product Name" required />
      <input type="number" name="price" placeholder="Price" required />
      <textarea
        name="description"
        placeholder="Product Description"
        required
      ></textarea>
      <div class="input-field">
        <label for="image">
          <h5>Please select photo of product (jpg/png/jpeg)</h5>
        </label>
        <br />
        <input type="file" name="image" />
      </div>
      <button type="submit">Add Product</button>
    </form>

    <a href="/all_products">View Products</a>
  </body>
</html>
